body {   
    background-color: #202020;
    color: silver;
}
.logo {
    float: left; 
}

h1{
    font-size: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
}
h2 {
    color:rgb(121, 18, 18);
    font-style: italic;
    text-align: center;
    margin: 0;
    margin-right: 5px;
}
h3{
    font-size: 24px;
    color:rgb(140, 108, 27);

}
h4 {
    font-size: 20px;
    color:darkkhaki;
    font-style: italic;
}
a{
    text-decoration:none;
}
.ilanlar{
    background-color: rgba(140, 108, 27, 0.226); 
    text-align: center;
    max-inline-size: 500px;
    min-block-size: 500px;
    margin-inline: 100px;
    margin-bottom: 50px; 
}
.centering-with-logo {
    margin-right: 112.63px;
    text-align: center;
}
li {
    color: whitesmoke;
    list-style: none;
    font-style: oblique;
    width: 500px;
    font-weight: 700;
    font-size: 20px;
}
ul {padding: 0px;}


.aboutus{
    font-family: monospace;
    font-style: italic;
    font-size: 150%;
    color:rgb(140, 108, 27);
}

.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
